*{  
    padding: 0;
    margin: 0; 
    font-family: sans-serif;
}
body{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
body::after{
    content: '';
    width: 100%;
    height: 100%;
    background:red;
    position: absolute;
    z-index: -1;
    clip-path: circle(40% at right 70%);

}

.container{
    background: rgba(255,255,255,0.1) ;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin:auto;

}
